* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}
:root {
  --fontfamily: IranYekan;
  --fontfamil: yekanplus;
  ::-webkit-scrollbar{
    width: 8px;
    background-color: #f0f0f1;
  }
  ::-webkit-scrollbar-thumb{
    width: inherit;
    background-color: #c0c2c5;
  }

}
@font-face {
  font-family: IranYekan;
  src: url(../fonts/fa/IRANYekanWeb.woff), url(../fonts/fa/IRANYekanWeb.woff2),
    url(../fonts/fa/IRANYekanWeb.ttf), url(../fonts/fa/IRANYekanWeb.eot);
}
@font-face {
  font-family: Nazanin;
  src: url(../fonts/fa/BNazanin.woff), url(../fonts/fa/BNazanin.woff2),
    url(../fonts/fa/BNazanin.TTF), url(../fonts/fa/BNazanin.eot);
}
@font-face {
  font-family: yekanplus;
  src: url(../fonts/fa/YEKANPLUS.woff), url(../fonts/fa/YEKANPLUS.woff2),
    url(../fonts/fa/YEKANPLUS.eot), url(../fonts/fa/YEKANPLUS.TTF);
}
.wrapper {
  width: 100%;
}
.swiper-rtl .swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  display: none;
}
.swiper-rtl .swiper-button-prev,
.swiper-rtl .swiper-button-next {
  width: 39px;
  height: 39px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid lightgrey;
  img {
    width: 25px;
    height: 25px;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0 !important;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: black;
  transition: 300 ms;
  width: 5px;
  height: 5px;
}
.swiper-pagination-bullet-active {
  width: 15px !important;
  height: 6px !important;
  border-radius: 5px !important;
  background-color: #fff !important;
}
