.button {
  .button-right {
    width: 48px;
    height: 48px;
    background-color: #ef4056;
    border-radius: 50%;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 50px;
    bottom: 35px;
    z-index: 99999;
    .button-right-img {
      width: 24px;
      height: 24;
    }
  }
  .button-left {
    width: 130px;
    height: 52px;
    background-color: #029a49;
    border-radius: 25px;
    padding: 10px 12px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    position: fixed;
    left: 17px;
    bottom: 35px;
    z-index: 99999;
    .button-left-p {
      font-family: var(--fontfamily);
      font-size: 15px;
      color: #ffffff;
    }
    .button-left-img {
      width: 40px;
      object-fit: contain;
    }
    &:active ~ .button-left-active{
      display: block !important;
    }
  }
  
  .button-left-active {
    width: 460px;
    height: 355px;
    background-color: #ffffff;
    border-radius: 7px;
    position: absolute;
    z-index: 99999;
    top: 130px;
    left: calc(50vw - 460px / 2);
    padding: 0 20px 20px;
    display: none;
    .button-left-active-top {
      width: 420px;
      height: 85px;
      background-color: #ffffff;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      .button-left-active-top-right {
        padding: 12px 0;
        .button-left-active-top-title {
          font-family: var(--fontfamily);
          font-size: 16px;
          color: #3f4064;
          line-height: 34px;
        }
        .button-left-active-top-text {
          font-family: var(--fontfamily);
          font-size: 12px;
          color: #a1a3a8;
          line-height: 26px;
        }
      }
    }
    .button-left-active-bottom {
      width: 420px;
      height: 250px;
      background-color: #ffffff;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      .button-left-active-bottom-item {
        width: 204px;
        height: 250px;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: flex-start;
        padding: 12px 16px ;
        background-color: #dbf3e6;
        border-radius: 7px;
        text-decoration: none;
        .button-left-active-bottom-item-title {
          width: inherit;
          height: 34px;
          display: flex;
          flex-flow: row wrap;
          justify-content: flex-start;
          align-items: center;
          column-gap: 5px;
          .button-left-active-bottom-item-title-span {
            font-family: var(--fontfamily);
            font-size: 16px;
            color: #0c0c0c;
            line-height: 34px;
          }
          .button-left-active-bottom-item-title-svg {
            width: 20px;
            height: 20px;
          }
        }
        .button-left-active-bottom-item-mid {
          width: 103px;
          height: 26px;
          display: flex;
          flex-flow: row wrap;
          justify-content: center;
          align-items: center;
          column-gap: 5px;
          background-color: #029547;
          border-radius: 15px 0 15px 15px;
          .button-left-active-bottom-item-mid-img {
            height: 20px;
            object-fit: contain;
          }
          .button-left-active-bottom-item-mid-p {
            font-family: var(--fontfamily);
            font-size: 12px;
            color: #ffffff;
            line-height: 26px;
          }
        }

        .button-left-active-bottom-item-sub {
          width: inherit;
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          padding-left: 20px;
          .button-left-active-bottom-item-pic {
            width: 130px;
            height: 130px;
            object-fit: contain;
          }
        }
        &:nth-of-type(2) {
          background-color: #feebde;
        }
        &:nth-of-type(2) .button-left-active-bottom-item-mid {
          background-color: #ff8042;
        }
      }
    }
  }

}
